@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.main {
  padding: 20px 10px;
  background-color: rgba(211, 211, 211, 0.277);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list {
  display: flex;
  gap: 30px;
}
.item {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.logo {
  font-family: "Roboto", sans-serif;
}
.wrapper{
    display: flex;
}